<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se il file o la directory esistono, servili direttamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Altrimenti, reindirizza tutto a index.html (SPA routing)
  RewriteRule ^ index.html [L]
</IfModule>
